.app-add-form {
    margin-top: 30px;
    padding: 25px;
    background-color: #3d5a80;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0,0,0, .15);
    color: #fff;
}

.add-form {
    margin-top: 20px;
}

.add-form input {
    width: 350px;
    margin-right: 20px;
}

@keyframes highlight {
    0% {
      border-color: transparent;
    }
    25% {
      border-color: red;
      transform: translateX(-2px) rotate(1deg);
    }
    50% {
      border-color: red;
      transform: translateX(2px) rotate(-1deg);
    }
    75% {
      border-color: red;
      transform: translateX(-2px) rotate(1deg);
    }
    100% {
      border-color: transparent;
    }
  }
  
  
  .highlight-animation {
    animation-name: highlight;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }
  